parameters:
  assets_directory: '%hidden_directory%/assets'
  build_directory: '%hidden_directory%/build'
  build_artifact_path: '%hidden_directory%/build.zip'
  cli_configuration_filepath: '%home_directory%/.ymir/config.json'
  hidden_directory: '%working_directory%/.ymir'
  media_directory: '%hidden_directory%/media'
  stub_directory: '%application_directory%/stubs'
  version: '2.0.3'

services:
  _defaults:
    autowire: true
    public: false
    bind:
      iterable $projectTypes: !tagged project_type
      string $assetsDirectory: '%assets_directory%'
      string $baseUrl: '%ymir_api_url%'
      string $buildDirectory: '%build_directory%'
      string $buildArtifactPath: '%build_artifact_path%'
      string $hiddenDirectory: '%hidden_directory%'
      string $homeDirectory: '%home_directory%'
      string $mediaDirectory: '%media_directory%'
      string $projectDirectory: '%working_directory%'
      string $stubDirectory: '%stub_directory%'
      string $version: '%version%'
      Symfony\Component\DependencyInjection\ServiceLocator $buildStepLocator: !tagged_locator build_step
      Symfony\Component\DependencyInjection\ServiceLocator $initializationStepLocator: !tagged_locator initialization_step
      Symfony\Component\DependencyInjection\ServiceLocator $resourceDefinitionLocator: !tagged_locator { tag: 'resource_definition', index_by: 'getModelClass', default_index_method: 'getModelClass' }

  _instanceof:
    Symfony\Component\Console\Command\Command:
      tags: ['command']
    Symfony\Component\EventDispatcher\EventSubscriberInterface:
      tags: ['subscriber']
    Ymir\Cli\Project\Build\BuildStepInterface:
      tags: ['build_step']
    Ymir\Cli\Project\Configuration\WordPress\WordPressConfigurationChangeInterface:
      tags: ['wordpress_configuration_change']
    Ymir\Cli\Project\Initialization\InitializationStepInterface:
      tags: ['initialization_step']
    Ymir\Cli\Project\Type\ProjectTypeInterface:
      tags: ['project_type']
    Ymir\Cli\Resource\Definition\ResourceDefinitionInterface:
      tags: ['resource_definition']

  GuzzleHttp\:
    resource: '%vendor_directory%/guzzlehttp/guzzle/src'
    exclude:
      - '%vendor_directory%/guzzlehttp/guzzle/src/functions.php'
      - '%vendor_directory%/guzzlehttp/guzzle/src/functions_include.php'

  Symfony\Component\Filesystem\:
    resource: '%vendor_directory%/symfony/filesystem'

  Ymir\Sdk\:
    resource: '%vendor_directory%/ymirapp/ymir-sdk-php/src'

  Ymir\Cli\:
    lazy: true
    resource: '../src'

  Ymir\Cli\Application:
    public: true
    arguments:
      - !tagged command
    calls:
      - setDispatcher: ['@Ymir\Cli\EventDispatcher\AutowiredEventDispatcher']

  Ymir\Cli\CliConfiguration:
    arguments:
      $configurationFilePath: '%cli_configuration_filepath%'

  Ymir\Cli\Command\Project\DeployProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Project\Deployment\UploadFunctionCodeStep'
        - '@Ymir\Cli\Project\Deployment\ProcessAssetsStep'
        - '@Ymir\Cli\Project\Deployment\StartAndMonitorDeploymentStep'

  Ymir\Cli\Command\Project\RedeployProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Project\Deployment\StartAndMonitorDeploymentStep'

  Ymir\Cli\Command\Project\RollbackProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Project\Deployment\StartAndMonitorDeploymentStep'

  Ymir\Cli\EventDispatcher\AutowiredEventDispatcher:
    arguments:
      - !tagged subscriber

  Ymir\Cli\Project\Initialization\WordPressConfigurationInitializationStep:
    arguments:
      $configurationChanges: !tagged wordpress_configuration_change

  Ymir\Cli\Command\WordPress\ConfigureCommand:
    arguments:
      $configurationChanges: !tagged wordpress_configuration_change
