parameters:
  assets_directory: '%hidden_directory%/assets'
  build_directory: '%hidden_directory%/build'
  build_artifact_path: '%hidden_directory%/build.zip'
  cli_configuration_filepath: '%home_directory%/.ymir/config.json'
  hidden_directory: '%working_directory%/.ymir'
  project_configuration_filepath: '%working_directory%/ymir.yml'
  stub_directory: '%application_directory%/stubs'
  uploads_directory: '%hidden_directory%/uploads'
  version: '1.27.0'

services:
  _defaults:
    autowire: true
    public: false
    bind:
      string $assetsDirectory: '%assets_directory%'
      string $baseUrl: '%ymir_api_url%'
      string $buildDirectory: '%build_directory%'
      string $buildArtifactPath: '%build_artifact_path%'
      string $hiddenDirectory: '%hidden_directory%'
      string $homeDirectory: '%home_directory%'
      string $projectDirectory: '%working_directory%'
      string $stubDirectory: '%stub_directory%'
      string $uploadsDirectory: '%uploads_directory%'
      string $version: '%version%'

  _instanceof:
    Symfony\Component\Console\Command\Command:
      tags: ['command']
    Symfony\Component\EventDispatcher\EventSubscriberInterface:
      tags: ['subscriber']
    Ymir\Cli\ProjectConfiguration\WordPressConfigurationChangeInterface:
      tags: ['wordpress_configuration_changes']

  GuzzleHttp\:
    resource: '%vendor_directory%/guzzlehttp/guzzle/src'
    exclude:
      - '%vendor_directory%/guzzlehttp/guzzle/src/functions.php'
      - '%vendor_directory%/guzzlehttp/guzzle/src/functions_include.php'

  Symfony\Component\Filesystem\:
    resource: '%vendor_directory%/symfony/filesystem'

  Ymir\Cli\:
    lazy: true
    resource: '../src'

  Ymir\Cli\Application:
    public: true
    arguments:
      - !tagged command
    calls:
      - setDispatcher: ['@Ymir\Cli\EventDispatcher\AutowiredEventDispatcher']

  Ymir\Cli\CliConfiguration:
    arguments:
      $configurationFilePath: '%cli_configuration_filepath%'

  Ymir\Cli\EventDispatcher\AutowiredEventDispatcher:
    arguments:
      - !tagged subscriber

  Ymir\Cli\ProjectConfiguration\ProjectConfiguration:
    arguments:
      $configurationFilePath: '%project_configuration_filepath%'

  Ymir\Cli\Command\Project\BuildProjectCommand:
    arguments:
      $buildSteps:
        - '@Ymir\Cli\Build\CopyWordPressFilesStep'
        - '@Ymir\Cli\Build\CopyUploadsDirectoryStep'
        - '@Ymir\Cli\Build\DownloadWpCliStep'
        - '@Ymir\Cli\Build\ExecuteBuildCommandsStep'
        - '@Ymir\Cli\Build\EnsurePluginIsInstalledStep'
        - '@Ymir\Cli\Build\CopyMustUsePluginStep'
        - '@Ymir\Cli\Build\ModifyWordPressConfigurationStep'
        - '@Ymir\Cli\Build\ExtractAssetFilesStep'
        - '@Ymir\Cli\Build\CompressBuildFilesStep'
        - '@Ymir\Cli\Build\BuildContainerImageStep'

  Ymir\Cli\Command\Project\ConfigureProjectCommand:
    arguments:
      $configurationChanges: !tagged wordpress_configuration_changes

  Ymir\Cli\Command\Project\DeployProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Deployment\UploadFunctionCodeStep'
        - '@Ymir\Cli\Deployment\ProcessAssetsStep'
        - '@Ymir\Cli\Deployment\StartAndMonitorDeploymentStep'

  Ymir\Cli\Command\Project\RedeployProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Deployment\StartAndMonitorDeploymentStep'

  Ymir\Cli\Command\Project\RollbackProjectCommand:
    arguments:
      $deploymentSteps:
        - '@Ymir\Cli\Deployment\StartAndMonitorDeploymentStep'
