name: Continuous Integration
on: push

jobs:
  code-quality:
    name: Run code quality checks on PHP 7.4
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dependency-version: ['', '--prefer-lowest']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install dependencies
        run: composer update ${{ matrix.dependency-version }} --no-ansi --no-interaction --no-scripts --no-suggest --prefer-dist
      - name: Run code quality checks
        run: vendor/bin/grumphp run --testsuite=code_quality
  php-test:
    name: Run tests on ${{ matrix.php }}
    runs-on: ubuntu-latest
    needs: code-quality
    strategy:
      fail-fast: false
      matrix:
        dependency-version: ['']
        php: ['7.3', '7.4', '8.0']
        include:
          - dependency-version: '--prefer-lowest'
            php: '7.3'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Remove GrumPHP
        run: composer remove --dev phpro/grumphp
      - name: Install dependencies
        run: composer update ${{ matrix.dependency-version }} --no-ansi --no-interaction --no-scripts --no-suggest --prefer-dist
      - name: Run unit tests
        run: vendor/bin/phpunit --testsuite unit
